.App {
  text-align: center;
}

.tab-style {
  width: 200px;
  height: 75px;
  border: 2px solid black;
  border-radius: 10px 10px 0 0;
  display: inline-block;
  margin: 0 0 0 5px;
  vertical-align: top;
  text-align: center;
}
